<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <nav class="container">
          <a class="navbar-brand p-3" href="/">Nagano Cake</a>
          <button class="navbar-toggler" type="button" date-toggle="collapse" date-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"商品一覧" ,admin_items_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"会員一覧", admin_customers_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"注文履歴一覧" ,admin_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ジャンル一覧",admin_genres_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ログアウト",destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></button>
            </li>
            <% elsif customer_signed_in? %>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"マイページ", new_admin_session_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"商品一覧" ,new_admin_session_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"カート",new_admin_session_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ログアウト",destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></button>
            </li>
            <% else %>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"About", about_path, class: 'nav-link text-dark'  %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"商品一覧" ,new_admin_session_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"新規登録",new_customer_registration_path, class: 'nav-link text-dark' %></button>
            </li>
            <li class="nav-item pr-4">
              <button type="button" class="btn btn-light btn-sm"><%= link_to"ログイン",new_customer_session_path,  class: 'nav-link text-dark' %></button>
            </li>
            <% end %>
            </ul>
          </div>
        </nav>
      </nav>
    </header>
  <body class="d-flex flex-column vh-100">
    <%= yield %>
  </body>
</html>
